img{
	width:170px;
	height:170px;
	float:right;
}
body{
	border:solid;
	padding-left:50px;
	padding-right:40px;
}

div.body{
	border-style:dashed;
	padding-left:40px;
	background-color:#add8e6;
}